body{ font-family: Arial, Helvetica, sans-serif;
    color: #3b64a1bd;
    display: 
flex;    justify-content: center;
    align-items: center;
}
div{color : #333; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;}
