body {
    background-color:#B0D1D9;
    font-family: Arial, Helvetica, sans-serif;
    font-size:100px
}
.header-container-1 {
     width: 50%;
     height:50%;
     padding: 0px
     display:flex;
     flex-direction: column;
     align-self: start;
     display: inline-block;
     align-items:center;
    }
     .header-container-1 img {
        width: 30%;
        height: auto;
        display: inline-block;
        align-items: center;
     }
*{
    font-family: Arial, Helvetica, sans-serif;

}
h1,h2,h3 {
       color: #203959;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       font-size 250px;
       

}
.header-container {
    text-align: center;   
    width: 100%px;           
    padding:0px;
}

.header-container img {
    width: 30%;        
    height: auto;
    display: inline-block; 
}   

tr{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(90, 88, 119);
    border-color: blue;

}
table {
    border: 2px solid black; 
    border-collapse: collapse; 
    width:20px; 
  }

  th, td {
    border: 1px solid black; 
    padding: 10px;
    text-align: left;
  }

